body{
    background-color: dark cyan ; color: white  ; 
}
p{
    font-family:monospace ;
}
a:hover { 
    color:deeppink;
}
a { color:rgb(212, 255, 0)
}
<h1 style="font-size:60px;">Matthew Parks</h1>
